<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>权限管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--引入angularJS插件-->
    <script src="../plugins/angularjs/angular.min.js"></script>
    <!--引入分页组件开始-->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!--引入分页组件结束-->
    <!--引入带分页的基础总模块-->
    <script src="../js/base.js"></script>
    <script src="../js/service/roomService.js"></script>
    <script src="../js/service/orderService.js"></script>

    <script type="text/javascript" src="../js/service/uploadService.js"></script>
    <!--引入基础控制器(抽取通用的代码)-->
    <script src="../js/controller/baseController.js"></script>
    <script src="../js/controller/roomController.js"></script>

</head>
<!--getItemCatList(): 获取分类id所对应分类名称-->
<body class="hold-transition skin-red sidebar-mini" ng-app="yxt" ng-controller="roomController"
       ng-init="getRoomTypeList()">
<!-- .box-body -->

<div class="box-header with-border">
    <img src="../img/yxtImg/logo.png" height="88px" width="250px">
    <h3 class="box-title">添加房间</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">


        <!-- 编辑窗口 -->
        <div aria-hidden="true">
            <div class="col-lg-5 col-xs-12">
                <div class="modal-content">
                    <tr>
                        <td>
                            <input type="file" id="file"/><br>
                            <img src="{{newRoom.roomPic}}" height="400px" width="500px"><br>
                            <button ng-click="uploadFile()" class="btn btn-primary" type="button">
                                上传
                            </button> &nbsp;&nbsp;&nbsp;

                        </td>
                    </tr>
                </div>
            </div>
            <div class="col-lg-7 col-xs-12">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">添加房间</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped" width="800px">
                            <tr>

                                <td>房间号</td>

                                <td>
                                    <input class="form-control" ng-model="newRoom.roomNumber" placeholder="房间号">
                                </td>

                            </tr>
                            <tr>

                                <td>类型</td>

                                <td><select  required class="form-control" ng-model="newRoom.roomTypeId"
                                             ng-options="roomType.roomTypeId as roomType.roomTypeDesc for roomType in roomTypeList"></select></td>

                            </tr>
                            <tr>

                                <td>定价</td>

                                <td><input class="form-control" ng-model="newRoom.roomPrice" placeholder="定价"></td>

                            </tr>

                            <tr>

                                <td>描述</td>

                                <td>
                                    <textarea ng-model="newRoom.roomDesc"  style="border:0;border-radius:5px;background-color:rgba(241,241,241,.98);
                                    width: 660px;height: 100px;padding: 10px;resize: none;" placeholder="...."
                                    ></textarea>
                                </td>

                            </tr>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="saveNewRoom()">保存
                        </button>
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- 数据表格 /-->

</div>
<!-- /.box-body -->

</body>

</html>