<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--引入angularJS插件-->
    <script src="../plugins/angularjs/angular.min.js"></script>

    <!--引入带分页的基础总模块-->
    <script src="../js/base.js"></script>
    <script src="../js/service/roomService.js"></script>
    <script src="../js/service/uploadService.js"></script>
    <script src="../js/service/orderService.js"></script>


    <!--引入基础控制器(抽取通用的代码)-->
    <script src="../js/controller/baseController.js"></script>
    <script src="../js/controller/roomController.js"></script>

</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="yxt"
      ng-controller="roomController" ng-init="findAllRoomAndOrder();getTemplTime()">

<!-- 内容区域 -->


<!-- 内容头部 -->
<section class="content-header">
    <div class="box-header with-border">
        <img src="../img/yxtImg/logo.png" height="70px" width="200px">
        <h3 class="box-title">入住概况</h3>

    </div>


    <ol class="breadcrumb pull-right" style="margin-top: 20px">
        <li><span>共<span style="color: green"> {{roomsListLength}} </span>间房&nbsp;, 已入住<span
                style="color: blue"> {{full}} </span>间&nbsp;, 剩余:<span style="color: red"> {{empty}} </span>间</span></li>&nbsp;&nbsp;&nbsp;
        <a href="order.html"> >>> 详情 >>> </a>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" type="button" ng-click="selectEmpty()">
            空房
        </button>
        <button class="btn btn-primary" type="button" ng-click="findAllRoomAndOrder()">
            全部
        </button>&nbsp;&nbsp;
        <!--<li><a href="all-admin-index.html"><i class="fa fa-dashboard"></i> 首页</a></li>-->
    </ol>
</section>
<!-- 内容头部 /-->

<!-- 正文区域 -->
<section class="content">


    <!-- 统计数值 -->
    <div class="row">
        <div class="col-lg-3 col-xs-6" ng-repeat="room in roomsList">
            <!-- small box -->
            <div class="small-box bg-gray">
                <div class="inner">
                    <img src="{{room.tbRoom.roomPic}}" width="270px" height="150px">

                    <span>房号 : {{room.tbRoom.roomNumber}} </span>
                    <span ng-if="room.tbRoom.roomAvailable==0">&nbsp;&nbsp;( 满 )</span>
                    <span ng-if="room.tbRoom.roomAvailable==1">&nbsp;&nbsp;( 空 )</span><br>
                    <span>剩余时间 : {{convertTimeString(room.leftTime)}}</span>

                </div>

                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>

                <div ng-if="room.tbRoom.roomAvailable==0" class="bg-light-blue" ng-click="checkout(room.tbRoom.roomId)">
                    <div>
                        <div style="width:50px;color: white;margin: auto">退房</div>
                    </div>

                </div>

                <div ng-if="room.tbRoom.roomAvailable==0" class="bg-light-blue"
                     ng-click="changeDate(room.order.orderId,room.order.checkoutDate)">
                    <div>
                        <div  style="width:50px;color: white;margin: auto">续住</div>
                    </div>

                </div>

                <div ng-if="room.tbRoom.roomAvailable==1" class="bg-green-gradient"
                     ng-click="getCheckinParam(room.tbRoom.roomId,room.tbRoom.roomPic,room.tbRoom.roomNumber,room.tbRoom.roomTypeId,room.tbRoom.roomPrice)">
                    <div href="#" >
                        <div style="width:50px;color: white;margin: auto">入住</div>
                    </div>
                    <div  href="#">
                        <div style="width:50px;color: white;margin: auto">&nbsp;&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>



        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-gray">
                <div class="inner">
                    <a href="addroom.html">
                        <img src="../img/yxtImg/add.jpg" width="270px" height="170px">

                        <span>&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;</span>
                    </a>

                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <div class="bg-yellow">
                    <a href="addroom.html">
                        <div style="width:50px;color: white;margin: auto">新增</div>
                    </a>
                    <a  href="#">
                        <div style="width:50px;color: white;margin: auto">&nbsp;&nbsp;</div>
                    </a>
                </div>
                <!--<div class="bg-red">
                <a href="addroom.html" class="small-box-footer">新增 <i
                        class="fa fa-arrow-circle-right"></i></a>
                <a href="#" class="small-box-footer">&nbsp; <i
                        class="fa fa-arrow-circle-right"></i></a>
                </div>-->
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
</section>
<!-- 正文区域 /-->

<!-- 内容区域 /-->
</body>

</html>